@mixin tema($horario){
    @if $horario == manha {
        background-color: white;
        color: blue;
    }@else if $horario == tarde {
        background-color: blue;
        color: yellow;
    }@else if $horario == noite {
        background-color: black;
        color: white;
    }@else {
        background-color: yellow;
        color: blue;
    }
}

body {
    @include tema(dia);
}